<section id="projects" class="fabric" style=" height:700px; padding-top:150px;"> 
<div class="container">
<h2>EXPLORE ALL PROJECTS</h2> 
</div>
</section> 

<section id="decision" style=" height:700px; padding-top:150px;"> 
<div class="container">
<h2>MAKING THE DECISION</h2>
</div> 
</section> 

<section id="calendar" class="fabric" style=" height:700px; padding-top:150px;"> 
<div class="container">
<h2>CALENDARS AND DEADLINES</h2>

</div> 
</section> 

<section id="downloads" style=" height:700px; padding-top:150px;"> 
<div class="container">
<h2>PICS, VIDEOS, AND DOWNLOADS</h2>
</div>  
</section> 

<section id="connect" class="fabric" style=" height:700px; padding-top:150px;"> 
<div class="container">
<h2>CONNECT WITH OTHERS</h2> 
</div>
</section> 

<section id="contest" style=" height:700px; padding-top:150px;"> 
<div class="container">
<h2>PROJECTS CONTEST</h2> 
</div>
</section> 