<% if @page[:title]=="US Photo Album" || @page[:title]=="International Photo Album" %> 
<section id="photos" class="fabric"> 
	<div id="pageBox">
		<div class="container">
			<div id="slidemain">
				<div id="slides">
					<div class="slides_container">
				    <% @page.images.each do |i| %>
						<div class="slide">
			       	<%= image_tag(i.thumbnail("840x380").url) %>
			     	</div>
			   		<% end %>
			 		</div>
				</div>
			</div>
			<%= raw @page.content_for(:body) %>
			
<% else %>
<section id="page" class="fabric"> 
	<div id="pageBox">
		<div class="container">
			<div id="sideBar">
				<%= raw @page.content_for(:side_body) %>
			</div>
			<div id="Content">
				<%= raw @page.content_for(:body) %>
			</div>
			<div class="clear"></div>
<% end %>
		</div>
	</div>
</section> 
