<section id="stories" class="fabric"> 
	<div class="container">
		<div id="sideBar">
			<%= raw @page.content_for(:side_body) %>
		</div>
		<div id="Content">
			<%= raw @page.content_for(:body) %>
		</div>
		<div class="clear"></div>
	</div>
</section> 
